# Python
__pycache__/
*.pyc

# Mujoco
MUJOCO_LOG.TXT

# Training outputs
logs/
outputs/
wandb/

# Models / checkpoints
models/
*.pt
*.onnx

# VSCode
.vscode/

# Isaac / cache
*.usd
*.usda
*.usdc

# OS
.DS_Store
Thumbs.db